@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url('BG-image.jpg');
    background-size: 100%;
}

.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* UPPER SECTION */
.upper-section {
    background-color: #bec4ca;
    border-radius: 3rem;
    grid-area: upper-section;
}

.upper-content {
    padding: 2rem;
    display: grid;
    grid-template-columns: .1fr .5fr;
    grid-gap: 1rem;
    text-align: left;
}

.image img{
    width: 450px;
}

.info {
    padding-left: 3rem;
}

.name{
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.career {
    font-size: 1.5rem;
    color: #3ea0f6;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}

/* BOTTOM SECTION */
.bottom-section {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 2rem;
    grid-template-areas: 
    "left-section upper-right-section"
    "left-section lower-right-section";
}

/* LEFT SECTION */
.left-section {
    background-color: #bec4ca;
    grid-area: left-section;
    border-radius: 3rem;
    margin-top: 5rem;
    padding: 3rem;
    font-family: 'Anonymous Pro', monospace;
}

.left-title {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
}

.tl-name {
    color: #000000;
    font-size: 1.3rem;
}

.detail {
    line-height: 1.6rem;
    color: #151616;
    font-size: 1.1rem;
    padding: 20px;  
}

/* UPPER RIGHT SECTION */
.upper-right-section {
    background-color: #bec4ca;
    grid-area: upper-right-section;
    border-radius: 3rem;
    margin-top: 5rem;
    padding: 3rem;
    font-family: 'Anonymous Pro', monospace;
    
}

.contact-title {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}

.contact-info {
    line-height: 2.5rem;
    color: #151616;
    font-size: 1.3rem;
    padding-top: 1rem;
}

/* LOWER RIGHT SECTION */
.lower-right-section {
    background-color: #bec4ca;
    grid-area: lower-right-section;
    border-radius: 3rem;
    margin-top: 5rem;
    padding: 3rem;
    font-family: 'Anonymous Pro', monospace;
}

.skills {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}

.skill-set {
    line-height: 2.5rem;
    color: #151616;
    font-size: 1.3rem;
    padding-top: 1rem;
}

/*Media Queries*/
@media screen and (max-width: 1440px) {
    .upper-section {
        width: 100%
    }
}

@media screen and (max-width: 1080px) {
    .upper-section {
        width: 100%
    }
    .upper-content {
        grid-template-columns: 1fr;
        padding: 0rem;
        padding-bottom: 1rem;
    }
    .name {
        text-align: center;
        font-size: 2rem;
    }
    .image {
        text-align: center;
    }
    .career {
        font-size: 1.5rem;
        color: #3ea0f6;
        text-align: center;
    }
    .bottom-section {
        grid-template-columns: none;
        grid-template-areas: 
        "left-section"
        "upper-right-section"
        " lower-right-section";
    }
}

@media screen and (max-width: 425px) {
    .image img{
        width: 200px;
    }
    .upper-content{
        padding-right:1rem;
    }
    .left-section {
        width: 90%;
    }

    .upper-right-section {
        width: 90%;
    }
    
    .email {
        font-size: 7px;
    }

    .lower-right-section {
        width: 90%;
    }
}